<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Registrar" icon-off="ion-alert-circled" icon-on="ion-alert-circled" href="#/tab/vereador">
    <ion-nav-view name="tab-registrar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Meu registros" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/meus-registros">
    <ion-nav-view name="tab-meus-registros"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Meu perfil" icon-off="ion-person" icon-on="ion-person" href="#/tab/meu-perfil">
    <ion-nav-view name="tab-meu-perfil"></ion-nav-view>
  </ion-tab>

</ion-tabs>