<ion-view view-title="Meu perfil">
    <ion-content padding="true" class="has-header">
        <h1>Meu perfil</h1>
        <a href="#/login" class="button button-positive button-block  icon-left ion-log-in">Entrar</a>
        <a href="#/registrar" class="button button-dark button-block  icon-left ion-android-add-contact">Registrar</a>
    </ion-content>
</ion-tab>