<ion-view view-title="Meu registros">
    <ion-content padding="true" class="has-header">
        <h1>Meus registros</h1>
        <ion-list>
            <ion-item>Buraco na minha rua em 13/03/15</ion-item>
            <ion-item>Sem luz no poste em 23/08/15</ion-item>
            <ion-item>Preciso de emprego em 10/10/15</ion-item>
        </ion-list>
    </ion-content>
</ion-tab>


