<ion-view view-title="Meu vereador">
    <ion-content padding="true" class="has-header">
    
    <h3 >Selecione o Vereador para registrar sua solicitação:</h3>
        <form>
            <ion-list></ion-list>
        </form>
        <form>
            <label class="item item-select" name="Vereador">
                <span class="input-label">Vereador</span>
                <select>
                     <option>Aurismar Pinho</option>
                    <option>Bringel Filho</option>
                    <option>Camila Modesto</option>
                    <option>Deval Regis</option>
                    <option>Divona</option>
                    <option>Doval da Saúde</option>
                    <option>Evilásio Mateus</option>
                    <option>Francisco Edivaldo</option>
                    <option>Genival da Vila</option>
                    <option>Humberto Filho</option>
                    <option>João Dias</option>
                    <option>Luciano Capitão</option>
                    <option>Luis Henrique</option>
                    <option>Tião do Gesso</option>
                    <option>Tico de Roberto</option>
                </select>
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Luciano Capitão - PSB</div>
            <div class="item item-body">
                <img src="http://www.martinhofilho.com.br/wp-content/uploads/2014/10/luciano.jpg" style="width: 100%; height: auto;">
                <button class="button button-stable button-block ">Informar problema</button>
            </div>
        </div>
    </ion-content>
</ion-view>



